.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-header {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.App-time span:first-child {
  font-size: 7rem;
  line-height: 7rem;
}

.App-time span:last-child {
  font-size: 2rem;
  line-height: 2rem;
}

.App-greeting {
  font-size: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
